<%= javascript_include_tag 'jquery.slicknav', 'data-turbolinks-track' => true %>
<div class="adminIndex">
	<div class="container">
		<h1> Bienvenido al Admin Panel </h1>

		<div class="button"><%= link_to "Editar Usuarios", admin_users_path %>
		</div>
	</div>
</div>

