<div class="editUser">
	<div class="container">
		<h1> Editar Usuario </h1>

		<%= render "form" %>
	</div>
</div>

<div class="goBack">
	<div class="icon"><%= image_tag "backIcon.png" %></div>
	<div class="text"><%= link_to "REGRESAR", admin_users_path %></div>
</div>

