<div class="newUser">
	<div class="container">
		<h1> Nuevo Usuario </h1>

		<%= render "form" %>
	</div>

	<div class="goBack">
		<div class="icon"><%= image_tag "backIcon.png" %></div>
		<div class="text"><%= link_to "REGRESAR", admin_users_path %></div>
	</div>
</div>

